body {
	font-family: Arial, sans-serif;
}

p, .ski_lift, h6 {
	font-size: 12px;
}

h1 {
	color: #aba4ac;
	margin-bottom: 10px;
}

.intro {
	color: #aba4ac;
	margin-bottom: 10px;
}

#header {
	color: #aba4ac;
	margin-bottom: 10px;
}

/*compound selectors:*/

h1#header {
	color: #aba4ac;
	margin-bottom: 10px;
}  

img {
	float: left;
}

.ski {
	float: right;
}

.sled {
	float: left;
}

.img {
	float: left;
}

.intro {
	clear: both;
}

.featured {
	color: #aba4ac;
} 

.featured p {
	color: #fff;
}

.downhill {
	border: 5px solid #fff;
	padding-left: 10px;
	padding-right: 5px;
	width: 100px;
} 

/*total width = 125px = 100px content width + 15px (left & right) padding + 10px(5px x 2) border width */


sup {
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
	top: -0.5em;
}

article {
	position: relative;
}

h3 {
	position: absolute;
	right: 10px;
	top: 10px;
}

.ski {
	position: fixed;
	right: 10px;
	top: 10px;
} 

.ski, .sled {
	z-index: 1;
}

.sale {
	display: block;
	padding: 0 10px;
	margin: 5px 0;
	text-align: center;
}